.name{
    padding-left: 20px;
    height: 35px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    width: 100%;
}
.radio{
    margin-bottom: 30px;
    margin-left: 75px;
    margin-right: 15px;
}
.all{
    margin-left: 20px;
}
.modal-content{
    width: 600px!important;
    height: 550px!important;
}
